<template name="compose">
  <form class="top25">
    <div class="form-group">
      <div class="controls">
          <textarea name="content"
          id="content"
          rows="5"
          placeholder="Ask them what you want..."
          class="form-control"></textarea>
          <div class="row top25">
            <div class="col-md-6">
              <input type="submit" value="Send Message" class="btn btn-primary btn-lg"/>
            </div>
            <div class="col-md-6">
              <button id="delete-draft" class="btn btn-danger btn-lg pull-right">
              Delete Draft
              </button>
            </div>
          </div>
      </div>
    </div>
  </form>
</template>