<template name="footer">
<div class="footer top50">
  <div class="container">
    <div class="col-md-4">
      <h5>Company</h5>
      <hr/>
    </div>
    <div class="col-md-4">
      <h5>Contact</h5>
      <hr/>
    </div>
    <div class="col-md-4">
      <h5>Connect</h5>
      <hr/>
    </div>
  </div>
</div>
<div class="footer-footer">
  <div class="container">
    <div class="col-md-4">
      <p>Space Cadet &copy; 2015</p>
    </div>
    <div class="col-md-4">
      <p class="text-center"><a href="/">Privacy Policy</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="/terms">Terms of Service</a></p>
    </div>
    <div class="col-md-4">
      <a href="/"><img class="img-responsive pull-right" src="/logo-white.png"></a>
    </div>
  </div>
</div>
</template>