<template name="footer">
<div class="footer">
  <div class="container">
    <div class="col-md-4">
      <h5>Company</h5>
      <hr/>
      <p>SpaceCadet</p>
      <p>427 9th Street, Suite 110</p>
      <p>San Antonio, TX 78215</p>
    </div>
    <div class="col-md-4">
      <h5>Contact</h5>
      <hr/>
      <p><a href="mailto:hello@spacecadet.io">hello@spacecadet.io</a></p>
      <p>(210) 201-2113</p>
    </div>
    <div class="col-md-4">
      <h5>Connect</h5>
      <hr/>
      <a href="http://facebook.com/spacecadet.io">
        <i class="fa fa-facebook-square fa-lg"> spacecadet.io
      </i></a><br/>
      <a href="http://instagram.com/gospacecadet">
        <i class="fa fa-instagram fa-lg top25"> gospacecadet
      </i></a><br/>
      <a href="http://twitter.com/gospacecadet">
        <i class="fa fa-twitter fa-lg top25"> gospacecadet
      </i></a>
    </div>
  </div>
</div>
<div class="footer-footer">
  <div class="container">
    <div class="col-md-4">
      <p>SpaceCadet &copy; 2015</p>
    </div>
    <div class="col-md-4">
      <p class="text-center"><a href="/">Privacy Policy</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="/terms">Terms of Service</a></p>
    </div>
    <div class="col-md-4">
      <a href="/"><img class="img-responsive pull-right" src="/logo-white.png"></a>
    </div>
  </div>
</div>

<script type="text/javascript">
  var _mfq = _mfq || [];
  (function () {
    var mf = document.createElement("script");
    mf.type = "text/javascript";
    mf.async = true;
    mf.src = "//cdn.mouseflow.com/projects/3b43bcd8-995f-4f4c-9cbb-1b7a7709b567.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
  })();
</script>
</template>