<template name="_pad">
<form class="form"  id="station-form">
{{#with pad}}
  <div class="form-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input name="name" id="name" type="text" value="{{name}}" placeholder="Pad name" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="name">Description</label>
    <div class="controls">
      <input name="description" id="description" type="text" value="{{description}}" placeholder="Make it sound good" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="size">Size</label>
    <div class="controls">
      <input name="size" id="size" type="text" value="{{size}}" placeholder="Size" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="price">Price</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-usd fa-lg"></i></span>
      <input name="price" id="price" type="number" value="{{price}}" placeholder="Price" class="form-control"/>
    </div>
    <span>This is the price the Rental Captains will see. The SpaceCadet Connection Charge will be <b>{{connectionFee}}</b>, and you will receive <b>{{landlordCut}}</b>.</span>
  </div>
  <div class="form-group">
    <label class="control-label" for="numAvailable">Number Available</label>
    <div class="controls">
      <input name="numAvailable" id="numAvailable" type="number" value="{{numAvailable}}" placeholder="Number available" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="occupancy">Occupancy</label>
    <div class="controls">
      <input name="occupancy" id="occupancy" type="number" value="{{occupancy}}" placeholder="Max occupancy" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="availabilityStarts">Availability Starts</label>
      <div class="input-group datepicker">
        <input name="availabilityStarts" id="availabilityStarts" type="text" value="{{availabilityStarts}}" placeholder="When will it first be available" class="form-control"/>
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="availabilityEnds">Availability Ends</label>
    <div class="input-group datepicker">
      <input name="availabilityEnds" id="availabilityEnds" type="text" value="{{availabilityEnds}}" placeholder="When does it stop being available" class="form-control"/>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
  </div>
{{/with}}
  <div class="form-group">
    <label class="control-label" for="fileUpload">Landing Pad Photo</label>
    <div class="controls">
      <div class="row">
        {{>  imageUploader imageName=padImageName uploader=padImageUploader}}
      </div>
    </div>
  </div>

    {{> imageUploadProgress uploader=padImageUploader}}

  <input type="submit" value="{{submitButton}}" class="btn btn-primary btn-block btn-lg"/>
</form>
</template>