<template name="padItem">
  <div class="container">
    <div class="row">
        <div class="col-md-6 md-margin-bottom-50">
            <div class="ms-showcase2-template">
              <img src="{{imageUrl}}" class="img-responsive img-rounded" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="shop-product-heading">
                <h2>{{name}} ({{size}})</h2>
            </div><!--/end shop product social-->

            <p>{{description}}</p><br>

            <ul class="list-inline shop-product-prices margin-bottom-30">
                <li class="shop-red">${{price}}</li>
            </ul><!--/end shop product prices-->


            <div class="margin-bottom-40">
            <button type="button" class="btn-u btn-u-sea-shop btn-u-lg add-item">Add to Cart (${{price}})</button>
            </div><!--/end product quantity-->

        </div>
      </div><!--/end row-->
    </div>

</template>

