<template name="stationItem">
  <div class="col-xs-4">
        <div class="product-img">
            <a href="{{pathFor 'stationPage'}}">
              <img class="full-width img-responsive" src="{{imageUrl}}" alt="{{name}}">
            </a>
            <a class="add-to-cart" href="{{pathFor 'stationPage'}}"><i class="fa fa-eye"></i>View station</a>
        </div>
        <div class="product-description product-description-brd">
            <div class="overflow-h margin-bottom-5">
              <div class="pull-left">
                <h4 class="title-price"><a href="{{pathFor 'stationPage'}}">{{name}}</a></h4>
                <span class="gender text-uppercase">{{address}}</span>
                <span class="gender">Suits - Blazers</span>
              </div>
              <div class="product-price">
                  <span class="title-price">$95.00</span>
                  <span class="title-price">(a night)</span>
              </div>
            </div>
        </div>
    </div>
</template>