<template name="station">
<div class="page">
  {{#with station}}
    <div class="container-fluid">
      <div class="row">
        <img src="{{bannerPath}}" class="station-image">
      </div>
    </div>
  {{/with}}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{#with station}}
          <h3 class="text-center">{{name}}</h3>
          <h4 class="text-center">{{address}}</h4>
          <h4 class="text-center">{{city}}, {{state}}</h4>
          <p class="station-description">{{description}}</p>
        {{/with}}
        <div class="station-search row">
          <form>
            <div class="col-md-8">
              <div class="form-group">
                <label for="startDockingOn">Start Docking</label>
                <div class="input-group datepicker">
                  <input type="text" class="form-control input-lg" id="startDockingOn" value="{{longDate startDockingOn}}">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for="endDockingOn">End Docking</label>
                <div class="input-group datepicker">
                  <input type="text" class="form-control input-lg" id="endDockingOn" value="{{longDate endDockingOn}}">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
          </form>
        </div>
        {{#if isDockingPeriodSet}}
          <h4>You want to dock for {{daysBetween}} days</h4>
        {{/if}}
      </div>
      {{#each pads}}
        <div class="col-md-4 landing-pad">
          {{> pad}}
          <a href="/dock?pad_id={{_id}}&station_id={{stationId}}" class="btn btn-success btn-block btn-lg add-docking-to-cart">Request to Dock ({{accounting price}})</a>
        </div>
      {{/each}}
    </div>
  </div>
</div>
</template>