<template name="stations">
{{> navbar}}
<div class="container below-navbar">
  <h1 class="text-center">Your Stations</h1>
  <div class="stations-list">
    {{#each stations}}
      <a href="{{pathFor 'station'}}">
        <div class="row stations-row">
          <div class="col-md-4 col-md-offset-1">
            <img src="{{imagePath}}" class="img-responsive img-rounded">
          </div>
          <div class="col-md-6">
            <p><b>{{name}}</b></p>
            <p>{{address}}, {{city}} {{zip}}</p>
          </div>
        </div>
      </a>
    {{/each}}
  </div>
</div>
</template>