<template name="stationItem">
  <div class="col-xs-4">
        <div class="product-img">
            <a href="shop-ui-inner.html"><img class="full-width img-responsive" src="/img/blog/09.jpg" alt=""></a>
            <a class="product-review" href="shop-ui-inner.html">Quick review</a>
            <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
        </div>
        <div class="product-description product-description-brd">
            <div class="overflow-h margin-bottom-5">
              <div class="pull-left">
                <h4 class="title-price"><a href="{{pathFor 'stationPage'}}">{{name}}</a></h4>
                <span class="gender text-uppercase">Men</span>
                <span class="gender">Suits - Blazers</span>
              </div>
              <div class="product-price">
                  <span class="title-price">$95.00</span>
                  <span class="title-price line-through">$225.00</span>
              </div>
            </div>
            <ul class="list-inline product-ratings">
              <li><i class="rating-selected fa fa-star"></i></li>
              <li><i class="rating-selected fa fa-star"></i></li>
              <li><i class="rating-selected fa fa-star"></i></li>
              <li><i class="rating fa fa-star"></i></li>
              <li><i class="rating fa fa-star"></i></li>
              <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
            </ul>
        </div>
    </div>
</template>