<template name="highlights">
  <!--=== Illustration v1 ===-->
  <div class="row margin-bottom-60">
    <div class="col-md-6 md-margin-bottom-30">
      <div class="overflow-h">
          <div class="illustration-v1 illustration-img1">
            <div class="illustration-bg">
              <div class="illustration-ads ad-details-v1">
                <h3>NEW YEAR <strong>SALE</strong> 30% - 60% <strong>off</strong></h3>
                <a class="btn-u btn-brd btn-brd-hover btn-u-light" href="#">Shop Now</a>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="overflow-h">
        <a class="illustration-v1 illustration-img2" href="#">
          <span class="illustration-bg">
            <span class="illustration-ads ad-details-v2">
              <span class="item-time">Spring 2014</span>
              <span class="item-name">Lacoste</span>
            </span>
          </span>
        </a>
      </div>
    </div>
  </div><!--/end row-->
  <!--=== End Illustration v1 ===-->
</template>