<template name="moreProducts">
<div class="container">
        <!--=== Product Service ===-->
        <div class="row margin-bottom-60">
            <div class="col-md-4 product-service md-margin-bottom-30">
                <div class="product-service-heading">
                    <i class="fa fa-truck"></i>
                </div>
                <div class="product-service-in">
                    <h3>Free Delivery</h3>
                    <p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo...</p>
                    <a href="#">+Read More</a>
                </div>
            </div>
            <div class="col-md-4 product-service md-margin-bottom-30">
                <div class="product-service-heading">
                    <i class="icon-earphones-alt"></i>
                </div>
                <div class="product-service-in">
                    <h3>Customer Service</h3>
                    <p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo...</p>
                    <a href="#">+Read More</a>
                </div>
            </div>
            <div class="col-md-4 product-service">
                <div class="product-service-heading">
                    <i class="icon-refresh"></i>
                </div>
                <div class="product-service-in">
                    <h3>Free Returns</h3>
                    <p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo...</p>
                    <a href="#">+Read More</a>
                </div>
            </div>
        </div><!--/end row-->
        <!--=== End Product Service ===-->

        <!--=== Illustration v4 ===-->
        <div class="row illustration-v4 margin-bottom-40">
            <div class="col-md-4">
                <div class="heading heading-v1 margin-bottom-20">
                    <h2>Top Rated</h2>
                </div>
                <div class="thumb-product">
                    <img class="thumb-product-img" src="/img/thumb/08.jpg" alt="">
                    <div class="thumb-product-in">
                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
                        <span class="thumb-product-type">Footwear - Oxfords</span>
                    </div>
                    <ul class="list-inline overflow-h">
                        <li class="thumb-product-price line-through">$75.00</li>
                        <li class="thumb-product-price">$65.00</li>
                        <li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
                    </ul>
                </div>
                <div class="thumb-product">
                    <img class="thumb-product-img" src="/img/thumb/09.jpg" alt="">
                    <div class="thumb-product-in">
                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
                        <span class="thumb-product-type">Footwear - Oxfords</span>
                    </div>
                    <ul class="list-inline overflow-h">
                        <li class="thumb-product-price">$75.00</li>
                        <li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
                    </ul>
                </div>
                <div class="thumb-product">
                    <img class="thumb-product-img" src="/img/thumb/03.jpg" alt="">
                    <div class="thumb-product-in">
                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
                        <span class="thumb-product-type">Footwear - Oxfords</span>
                    </div>
                    <ul class="list-inline overflow-h">
                        <li class="thumb-product-price">$75.00</li>
                        <li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="heading heading-v1 margin-bottom-20">
                    <h2>Best Sellers</h2>
                </div>
                <div class="thumb-product">
                    <img class="thumb-product-img" src="/img/thumb/02.jpg" alt="">
                    <div class="thumb-product-in">
                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
                        <span class="thumb-product-type">Footwear - Oxfords</span>
                    </div>
                    <ul class="list-inline overflow-h">
                        <li class="thumb-product-price">$75.00</li>
                        <li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
                    </ul>
                </div>
                <div class="thumb-product">
                    <img class="thumb-product-img" src="/img/thumb/10.jpg" alt="">
                    <div class="thumb-product-in">
                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
                        <span class="thumb-product-type">Footwear - Oxfords</span>
                    </div>
                    <ul class="list-inline overflow-h">
                        <li class="thumb-product-price">$75.00</li>
                        <li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
                    </ul>
                </div>
                <div class="thumb-product">
                    <img class="thumb-product-img" src="/img/thumb/06.jpg" alt="">
                    <div class="thumb-product-in">
                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
                        <span class="thumb-product-type">Footwear - Oxfords</span>
                    </div>
                    <ul class="list-inline overflow-h">
                        <li class="thumb-product-price line-through">$75.00</li>
                        <li class="thumb-product-price">$65.00</li>
                        <li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 padding">
                <div class="heading heading-v1 margin-bottom-20">
                    <h2>Sale Items</h2>
                </div>
                <div class="thumb-product">
                    <img class="thumb-product-img" src="/img/thumb/07.jpg" alt="">
                    <div class="thumb-product-in">
                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
                        <span class="thumb-product-type">Footwear - Oxfords</span>
                    </div>
                    <ul class="list-inline overflow-h">
                        <li class="thumb-product-price line-through">$75.00</li>
                        <li class="thumb-product-price">$65.00</li>
                        <li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
                    </ul>
                </div>
                <div class="thumb-product">
                    <img class="thumb-product-img" src="/img/thumb/04.jpg" alt="">
                    <div class="thumb-product-in">
                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
                        <span class="thumb-product-type">Footwear - Oxfords</span>
                    </div>
                    <ul class="list-inline overflow-h">
                        <li class="thumb-product-price">$75.00</li>
                        <li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
                    </ul>
                </div>
                <div class="thumb-product">
                    <img class="thumb-product-img" src="/img/thumb/05.jpg" alt="">
                    <div class="thumb-product-in">
                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
                        <span class="thumb-product-type">Footwear - Oxfords</span>
                    </div>
                    <ul class="list-inline overflow-h">
                        <li class="thumb-product-price">$75.00</li>
                        <li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
                    </ul>
                </div>
            </div>
        </div><!--/end row-->
        <!--=== End Illustration v4 ===-->
    </div><!--/end cotnainer-->
    </template>