<template name="docking">
<div class="docking">
  <div class="container docking-request-summary">
    {{#with docking}}
      {{#if isStateAwaitingLandlordApproval}}
        <h3 class="text-center bottom50">Docking Request Submitted</h3>
        <h4>We have submitted your docking request to the landlord.
        You will be notified when the landlord approves.</h4>
        <h4 class="bottom50"><b>You will only be charged once approval is complete.</b></h4>
      {{/if}}

      {{#if isStateLandlordApprovalRejected}}
        <h3 class="text-center bottom50">Docking Request Rejected</h3>
        <h4>Sorry he didn't approve.</h4>
        <h4 class="bottom50"><b>You weren't charged anything.</b></h4>
      {{/if}}

      {{#if isStateApproved}}
        <h3 class="text-center bottom50">Docking Request Approved</h3>
      {{/if}}

      <h3 class="bottom25">Docking Receipt</h3>
      <h4><b>Reservation Number</b></h4>
      <h4>{{reservationNumber}}</h4>

      <hr/>
      <div class="row">
        <div class="col-md-3"><h4><b>Name</b></h4></div>
        <div class="col-md-3"><h4><b>Address</b></h4></div>
        <div class="col-md-3"><h4><b>Start</b></h4></div>
        <div class="col-md-3"><h4><b>End</b></h4></div>
      </div>

      <div class="row">
        <div class="col-md-3"><h4>{{dockerName}}</h4></div>
        <div class="col-md-3"><h4>{{address}}</h4><h4>{{city}} {{zip}}</h4></div>
        <div class="col-md-3"><h4>{{_startDockingOnDate startDockingOnDate}}</h4></div>
        <div class="col-md-3"><h4>{{_endDockingOnDate endDockingOnDate}}</h4></div>
      </div>

      <hr/>
      <div class="row">
        <div class="col-md-2">
          <h4>{{accounting dailyPadPrice}} x {{days}} days</h4>
        </div>
        <div class="col-md-2">
        <h4>{{accounting subtotal}}</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-2">
            <h4>Service Fee</h4>
          </div>
          <div class="col-md-2">
            <h4>{{accounting serviceFee}}</h4>
          </div>
        </div>
      <h3>Total: {{accounting total}}</h3>

    {{/with}}
  </div>
</div>
</template>