<template name="dockings">
<div class="page">
  <div class="container">
    <h3 class="text-center bottom25">Docking History</h3>
    {{#if dockings}}
      {{#each dockings}}
        <div class="row bottom50 docking-preview">
          <a href="{{pathFor 'docking'}}">
            <div class="col-md-4">
              <img src="{{previewPath}}" class="img-responsive">
            </div>
            <div class="col-md-4">
              <h4><b>Name:</b> {{dockerName}}</h4>
              <h4><b>Address:</b> {{address}}, {{city}} {{zip}}</h4>
              <h4><b>Start:</b> {{shortDate startDockingOnDate}}</h4>
              <h4><b>End:</b> {{shortDate endDockingOnDate}}</h4>
            </div>
            <div class="col-md-4">
              <h4>
                {{days}} days x {{accounting dailyPadPrice}}
              </h4>
              <h3>Total: {{accounting total}}</h3>
            </div>
          </a>
        </div>
      {{/each}}
    {{else}}
      <h4>You have not docked yet</h4>
    {{/if}}
  </div>
</div>
</template>