<template name="dockingDatesPicker">
<form>
  <div class="col-md-8">
    <div class="form-group">
      <label for="startDockingOn">Start Docking</label>
      <div class="input-group datepicker">
        <input type="text"
        class="form-control input-lg"
        id="startDockingOn"
        value="{{datepickerStartDockingOn}}">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <label for="endDockingOn">End Docking</label>
      <div class="input-group datepicker">
        <input type="text"
        class="form-control input-lg"
        id="endDockingOn"
        value="{{datepickerEndDockingOn}}">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>
  </div>
</form>
</template>