<template name="manageDockings">
<div class="page">
  <div class="container">
    <div class="row">
      {{#if hasDefaultRecipient}}
      <div class="col-md-8">
        {{#if hasDockingsAwaitingLandlordApproval}}
          <h3 class="bottom50">Dockings Requiring Approval</h3>
            <div class="bottom50">
            {{#each dockingsAwaitingLandlordApproval}}
              {{> dockingAwaitingLandlordApproval}}
            {{/each}}
          </div>
        {{/if}}
        {{> dockingFinancialSummary}}
      </div>
      <div class="col-md-4">
        {{>upcomingDockings}}
      </div>
      {{else}}
        <h2 class="text-center top50">
         Link a bank account in order to accept payments.
        </h2>
        {{#if hasDockingsAwaitingLandlordApproval}}
          <h4 class="text-center">
            You have {{accumulatedTotal}} in dockings awaiting your approval
          </h4>
        {{/if}}
        <a href="{{pathFor 'newBank'}}" class="btn btn-lg btn-success btn-block top50">
          Add an account
        </a>
      {{/if}}
    </div>
  </div>
</div>
</template>