<template name="newDocking">
<div class="newDocking page">
  <div class="container">
    <div class="col-md-6">
      <h3>Billing Information</h3>
      <form class="billing-form">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="cardholder">Name on Card</label>
              <input type="text" class="form-control input-lg" id="cardholder" placeholder="John Doe">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="cardnumber">Card Number</label>
              <input type="text" class="form-control input-lg" id="cardnumber" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="expirationmonth">Expiration Month</label>
              <input type="text" class="form-control input-lg" id="expirationmonth" placeholder="mm">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="expirationyear">Exipration Year</label>
              <input type="text" class="form-control input-lg" id="expirationyear" placeholder="yy">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="cvc">Security Code</label>
              <input type="text" class="form-control input-lg" id="cvc" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="zip">Zip Code</label>
              <input type="text" class="form-control input-lg" id="zip" placeholder="">
            </div>
          </div>
        </div>
        <hr/>
        <button type="submit" class="btn btn-default btn-lg btn-success btn-block submit-billing-form">Request Docking</button>
      </form>
    </div>
    <div class="col-md-5 col-md-offset-1 docking-request-summary">
      {{#with pad}}
        <img src="{{imagePath}}" class="img-responsive img-rounded homepage-featured-image">
      {{/with}}
      <h4 class="docking-request-details">{{pad.name}} at {{station.name}}</h4>
      {{#with station}}
        <p>{{address}}, {{city}}, {{state}}, {{zip}}</p>
      {{/with}}
      {{#with pad}}
        <hr/>
        <h5>{{startDockingOn}} - {{endDockingOn}}</h5>
        <hr/>
        <div class="row">
          <div class="col-md-6">
            <h5>{{accounting displayPrice}} x {{daysBetween}} days</h5>
          </div>
          <div class="col-md-6">
          <h5>{{accounting subtotal}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h5>Service Fee</h5>
          </div>
          <div class="col-md-6">
            <h5>{{accounting serviceFee}}</h5>
          </div>
        </div>
        <hr/>
        <h4><b>Total: {{accounting total}}</b></h4>
      {{/with}}
    </div>
  </div>
</div>
</template>