<template name="newDockingForm">
<div class="col-md-6">
  <form class="billing-form">
  <h3>Billing Information</h3>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group {{errorClass 'cardholder'}}">
          <label for="cardholder">Name on Card</label>
          <div class="controls">
            <input type="text" class="form-control input-lg" id="cardholder">
            <span class="help-block">{{errorMessage 'cardholder'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group {{errorClass 'number'}}">
          <label for="number" class="control-label">Card Number</label>
          <div class="controls">
            <input type="text" class="form-control input-lg" id="number">
            <span class="help-block">{{errorMessage 'number'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group {{errorClass 'exp_month'}}">
          <label for="exp_month">Expiration Month</label>
          <div class="controls">
            <input type="text" class="form-control input-lg" id="exp_month">
            <span class="help-block">{{errorMessage 'exp_month'}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group {{errorClass 'exp_year'}}">
          <label for="exp_year">Exipration Year</label>
          <div class="controls">
            <input type="text" class="form-control input-lg" id="exp_year">
            <span class="help-block">{{errorMessage 'exp_year'}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group {{errorClass 'cvc'}}">
          <label for="cvc">Security Code</label>
          <div class="controls">
            <input type="text" class="form-control input-lg" id="cvc">
            <span class="help-block">{{errorMessage 'cvc'}}</span>
          </div>
        </div>
      </div>
    </div>
    <hr/>

    <h3>Contact Details</h3>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group {{errorClass 'entityName'}}">
          <label for="entityName" class="control-label">Business or Individual Renting</label>
          <div class="controls">
            <input type="text" class="form-control input-lg" id="entityName" value="{{dockerEntity}}">
            <span class="help-block">{{errorMessage 'entityName'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group {{errorClass 'dockerName'}}">
          <label for="dockerName" class="control-label">Contact Name</label>
          <div class="controls">
            <input type="text" class="form-control input-lg" id="dockerName" value="{{dockerName}}">
            <span class="help-block">{{errorMessage 'dockerName'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group {{errorClass 'dockerPhone'}}">
          <label for="dockerPhone" class="control-label">Contact Phone</label>
          <div class="controls">
            <input type="tel" class="form-control input-lg" id="dockerPhone" value="{{dockerPhone}}">
            <span class="help-block">{{errorMessage 'dockerPhone'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group {{errorClass 'dockerEmail'}}">
          <label for="dockerEmail" class="control-label">Contact Email</label>
          <div class="controls">
            <input type="email" class="form-control input-lg" id="dockerEmail" value="{{dockerEmail}}">
            <span class="help-block">{{errorMessage 'dockerEmail'}}</span>
          </div>
        </div>
      </div>
    </div>
    <hr/>

    <div class="row bottom25">
      <button type="submit"
        id="submit-docking-button"
        class="btn btn-default btn-lg btn-success btn-block submit-billing-form">
        Request Docking
      </button>
    </div>
    <div class="row">{{> errors}}</div>

  </form>
</div>
</template>