.homepage-banner {
  background-image: url("/city.jpg");
  background-size:   cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.homepage-title {
  padding-top: 125px;
}

.homepage-search {
  margin-top: 225px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(141,155,153,0.8);
  /*background-color: rgba(28,152,153,0.2);*/
}

.homepage-navbar {
  padding-top: 10px;
}

.homepage-featured {
  margin-top: 50px;
  margin-bottom: 50px;
}

.homepage-featured-station {
  margin-top: 50px;
}

.homepage-featured-image {
  padding-left: 10px;
  padding-right: 10px;
}

.last-featured-row {
  margin-bottom: 50px;
}