.billing-form {
  margin-top: 30px;
}

.billing-form .form-group {
  margin-top: 15px;
}

.submit-billing-form {
  margin-top: 30px;
  height: 75px;
  font-size: 30px;
}

.newDocking {
  background-color: #EBEBEB;
  padding-top: 50px;
}

.docking-request-summary {
  border-width: 2px;
  border-color: #DADADA;
  border-style: solid;
  border-radius: 25px;
  padding: 20px;
}

.docking-request-details {
  margin-top: 20px;
}

.newDocking hr {
  border-color: #DADADA;
}