h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 80px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 35px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

h5 {
  font-size: 18px;
}
