html{
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
  min-height: 100%;
  height: 100%;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 80px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 35px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

.page {
  padding-bottom: 50px;
}

.bottom25 {
  margin-bottom: 25px;
}

.bottom50 {
  margin-bottom: 50px;
}

.bottom100 {
  margin-bottom: 100px;
}

.top25 {
  margin-top: 25px;
}

.top50 {
  margin-top: 50px;
}

.top75 {
  margin-top: 75px;
}

.big-button {
  font-size: 30px;
}

p {
  font-size: 18px;
}

.team-img {
  margin: 0 auto;
}