<template name="about">
<div class="container">
  <h2>About SpaceCadet</h2>
<!--   <h3>At SpaceCadet, we believe in:</h3> -->
  <p>SpaceCadet.io is an online marketplace that connects people looking for space with others in their community who have vacant space available for rent on a short-term basis. Reserve, pay, and communicate through our portal - all with the click of a button! </p>
  <div class="row top25">
    <div class="col-md-6">
      <h3 class="">For Renters</h3>
      <div class="row top25">
        <div class="col-md-2">
          <i class="fa fa-search fa-4x"></i>
        </div>
        <div class="col-md-8">
          <h4>Find a place to test and grow your idea</h4>
        </div>
      </div>
      <div class="row top25">
        <div class="col-md-2">
          <i class="fa fa-pencil-square-o fa-4x"></i>
        </div>
        <div class="col-md-8">
          <h4>Simple and clear terms, always</h4>
        </div>
      </div>
      <div class="row top25">
        <div class="col-md-2">
          <i class="fa fa-chevron-left fa-4x"></i>
        </div>
        <div class="col-md-8">
          <h4>Unique spaces at up to 50% off market value</h4>
        </div>
      </div>
      <div class="row top25">
        <div class="col-md-2">
          <i class="fa fa-cog fa-4x"></i>
        </div>
        <div class="col-md-8">
          <h4>Works for shoots, events, fabrication, storage, and more</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="">For Landlords</h3>
      <div class="row top25">
        <div class="col-md-2">
          <i class="fa fa-money fa-4x"></i>
        </div>
        <div class="col-md-8">
          <h4>Offset your property expenses</h4>
        </div>
      </div>
      <div class="row top25">
        <div class="col-md-2">
          <i class="fa fa-comment-o fa-4x"></i>
        </div>
        <div class="col-md-8">
          <h4>Get the word out about your property</h4>
        </div>
      </div>
      <div class="row top25">
        <div class="col-md-2">
          <i class="fa fa-paperclip fa-4x"></i>
        </div>
        <div class="col-md-8">
          <h4>Automate payment collection and inventory control</h4>
        </div>
      </div>
      <div class="row top25">
        <div class="col-md-2">
          <i class="fa fa-bolt fa-4x"></i>
        </div>
        <div class="col-md-8">
          <h4>Easy, secure, and light years ahead</h4>
        </div>
      </div>
    </div>
  </div>
  <h3 class="top75">Who We Are</h3>
  <p>SpaceCadet is formed by a group of talented problem solvers with a passion for creating and building in a globally connected world. The SpaceCadet Crew has accounting, computer science, finance, and quantitative analysis backgrounds from MIT, IE Business School, and UTSA, and has professional experience in commercial real estate, two-sided marketplaces, the share economy, mobile and web technologies, financial analysis, and community outreach.</p>
  <div class="row top50">
    <div class="col-md-4">
      <img src="/steven.jpg" class="img-responsive team-img">
      <h4 class="text-center"><b>Steven Quintanilla</b></h4>
      <h4 class="text-center">Co-Founder & Fleet Admiral</h4>
    </div>
    <div class="col-md-4">
      <img src="/marvin.jpg" class="img-responsive team-img">
      <h4 class="text-center"><b>Marvin Arnold</b></h4>
      <h4 class="text-center">Co-Founder & Fleet Technician</h4>
    </div>
    <div class="col-md-4">
      <img src="/robert.jpg" class="img-responsive team-img">
      <h4 class="text-center"><b>Robert Garcia</b></h4>
      <h4 class="text-center">Fleet Financial Officer</h4>
    </div>
  </div>
    <div class="row top50">
    <div class="col-md-offset-2 col-md-4">
      <img src="/michael.jpg" class="img-responsive team-img">
      <h4 class="text-center"><b>Michael Garcia</b></h4>
      <h4 class="text-center">Onboarding & Outreach Ambassador</h4>
    </div>
    <div class="col-md-4">
      <img src="/brandon.jpg" class="img-responsive team-img">
      <h4 class="text-center"><b>Brandon Vondera</b></h4>
      <h4 class="text-center">Onboarding & Outreach Ambassador</h4>
    </div>
  </div>

  <h3 class="top50">Check us out at SXSW 2015!</h3>
  <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="/SALiveJohnny/videos/vb.312520995542929/665722813556077/?type=1"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/SALiveJohnny/videos/665722813556077/"><a href="https://www.facebook.com/SALiveJohnny/videos/665722813556077/"></a><p>A San Antonio-based tech startup, Spacecadet.io... is transforming Austin&#039;s open space in a creative and &quot;tasty&quot; way. Right smack in the middle of SXSW. SA Live</p>Posted by <a href="https://www.facebook.com/SALiveJohnny">SALiveJohnny</a> on Thursday, March 19, 2015</blockquote></div></div>

  <div class="bottom25"></div>
</div>
</template>