<template name="homepage">
<div class="page">
  <div class="homepage-banner">
    {{> navbar brandUrl=brandUrl}}
    <div class="container-fluid">
      <div class="row homepage-title">
        <h1 class="text-center">Find Space</h1>
        <h3 class="text-center">Short-term rentals to do your stuff</h3>
      </div>
    </div>
   <!--  <div class="homepage-search">
      <div class="container">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control input-lg"  placeholder="Where are you looking for space?">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-success btn-lg">
              Select your city
            </button>
          </span>
        </div>
      </div>
    </div> -->
  </div>
  <div class="homepage-featured container">
    <h2 class="text-center">View Available Properties and Request to Dock today</h2>
    <h4 class="text-center">
      Connect with people in your community who have the space you need to rent
    </h4>
    <div id="stations">
    {{#each stations}}
      {{> homepageStation}}
    {{/each}}
    </div>
  </div>
</div>
</template>