<template name="dockingNew">
  <form name="docking" class="form">
    <div class="form-group">
      <label class="control-label" for="timePeriod">Time Period</label>
      <div class="controls">
          <input name="timePeriod" id="timePeriod" type="text" value="" placeholder="Time period" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="price">Price</label>
      <div class="controls">
          <input name="price" id="price" type="number" value="" placeholder="Price" class="form-control"/>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Docking Time</button>
  </form>
</template>