<template name="newBank">
<div class="page">
  <div class="container">
    <h3 class="text-center">Add Bank Account</h3>
    <form class="billing-form">
      <div class="form-group {{errorClass 'accountName'}}">
        <label for="accountName">Name on Account</label>
        <div class="controls">
          <input type="text" class="form-control input-lg" id="accountName" placeholder="Individual or Business Name">
          <span class="help-block">{{errorMessage 'accountName'}}</span>
        </div>
      </div>
      <div class="form-group {{errorClass 'recipientType'}}">
        <label for="recipientType">Type of account</label>
        <div class="controls">
          <select class="form-control input-lg" id="recipientType">
            <option></option>
            <option value="corporation">Business</option>
            <option value="individual">Individual</option>
          </select>
          <span class="help-block">{{errorMessage 'recipientType'}}</span>
        </div>
      </div>
      <div class="form-group {{errorClass 'taxId'}}">
        <label for="taxId">Social Security Number or EIN</label>
        <div class="controls">
          <input type="text" class="form-control input-lg" id="taxId">
          <span class="help-block">{{errorMessage 'taxId'}}</span>
        </div>
      </div>
      <div class="form-group {{errorClass 'routingNumber'}}">
        <label for="routingNumber">Routing Number</label>
        <div class="controls">
          <input type="text" class="form-control input-lg" id="routingNumber" >
          <span class="help-block">{{errorMessage 'routingNumber'}}</span>
        </div>
      </div>
      <div class="form-group {{errorClass 'accountNumber'}}">
        <label for="accountNumber">Account Number</label>
        <div class="controls">
          <input type="text" class="form-control input-lg" id="accountNumber">
          <span class="help-block">{{errorMessage 'accountNumber'}}</span>
        </div>
      </div>

      <button type="submit" class="btn btn-default btn-lg btn-success btn-block submit-billing-form bottom25" id="submit-bank-button">
        Link Account
      </button>

      {{> errors}}
    </form>
  </div>
</div>
</template>