<template name="cartPageBilling">
<form name="paymentForm" class="form">
<div class="header-tags">
    <div class="overflow-h">
        <h2>Payment</h2>
        <p>Select Payment method</p>
        <i class="rounded-x fa fa-credit-card"></i>
    </div>
</div>
<section>

    <div class="row">
        <div class="col-md-6 md-margin-bottom-50">
            <h2 class="title-type">Choose a payment method</h2>
            <!-- Accordion -->
            <div class="accordion-v2">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="fa fa-credit-card"></i>
                                    Credit or Debit Card
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body cus-form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 no-col-space control-label">Cardholder Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control required" name="cardholder" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 no-col-space control-label">Card Number</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control required" name="cardNumber" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4">Expiration Date</label>
                                    <div class="col-sm-8 input-small-field">
                                        <input type="text" name="mm" placeholder="MM" class="form-control required sm-margin-bottom-20">
                                        <span class="slash">/</span>
                                        <input type="text" name="yy" placeholder="YY" class="form-control required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 no-col-space control-label">CSC</label>
                                    <div class="col-sm-8 input-small-field">
                                        <input type="text" name="cvc" placeholder="" class="form-control required">
                                        <a href="#">What's this?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i class="fa fa-paypal"></i>
                                    Pay with PayPal
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="content margin-left-10">
                                <a href="#"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" alt="PayPal"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Accordion -->
        </div>

        <div class="col-md-6">
            <h2 class="title-type">Frequently asked questions</h2>
            <!-- Accordion -->
            <div class="accordion-v2 plus-toggle">
                <div class="panel-group" id="accordion-v2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseOne-v2">
                                    What payments methods can I use?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne-v2" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseThree-v2">
                                    Will I be charged when I place my order?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree-v2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseFour-v2">
                                    How long will it take to get my order?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour-v2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Accordion -->
        </div>
    </div>
</section>

<div class="coupon-code">
    <div class="row">
        <div class="col-sm-4 sm-margin-bottom-30">
        </div>
        <div class="col-sm-3 col-sm-offset-5">
            <ul class="list-inline total-result">
                <li class="total-price">
                    <h4>Total:</h4>
                    <div class="total-result-in">
                        <span>$ {{itemTotal}}</span>
                    </div>
                </li>
            </ul>

        </div>
        <button type="submit" class="pull-right btn-lg btn-u-sea-shop pay-and-checkout">Buy Now</button>
    </div>
</div>
</form>
</template>