<template name="header">
  <!--=== Header v5 ===-->
  <div class="header-v5 header-static">
      <!-- Topbar v3 -->
      <div class="topbar-v3">
          <div class="search-open">
              <div class="container">
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="search-close"><i class="icon-close"></i></div>
              </div>
          </div>

          <div class="container">
              <div class="row">
                  <div class="col-sm-6">
                      <!-- Topbar Navigation -->
                      <ul class="left-topbar">
                          <li>
                              <a>Currency (USD)</a>
                              <ul class="currency">
                                  <li class="active">
                                      <a href="#">USD <i class="fa fa-check"></i></a>
                                  </li>
                                  <li><a href="#">Euro</a></li>
                                  <li><a href="#">Pound</a></li>
                              </ul>
                          </li>
                          <li>
                              <a>Language (EN)</a>
                              <ul class="language">
                                  <li class="active">
                                      <a href="#">English (EN)<i class="fa fa-check"></i></a>
                                  </li>
                                  <li><a href="#">Spanish (SPN)</a></li>
                                  <li><a href="#">Russian (RUS)</a></li>
                                  <li><a href="#">German (GRM)</a></li>
                              </ul>
                          </li>
                      </ul><!--/end left-topbar-->
                  </div>
                  <div class="col-sm-6">
                      <ul class="list-inline right-topbar pull-right">
                          <li>Account</li>
                          <li><a href="shop-ui-add-to-cart.html">Wishlist (0)</a></li>
                          <li><i class="search fa fa-search search-button"></i></li>
                      </ul>
                  </div>
              </div>
          </div><!--/container-->
      </div>
      <!-- End Topbar v3 -->

      <!-- Navbar -->
      <div class="navbar navbar-default mega-menu" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">
                      <img id="logo-header" src="/logo_sm.png" alt="Logo">
                  </a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-responsive-collapse">
                  {{#if hasItems}}
                    {{> headerCart}}
                  {{/if}}

                  <!-- Nav Menu -->
                  <ul class="nav navbar-nav">
                      <!-- Add Station -->
                      {{#if currentUser}}
                        <li class="dropdown">
                            <a href="{{pathFor 'stationNew'}}" class="dropdown-toggle">
                                Add Station
                            </a>
                        </li>
                      {{/if}}
                      <!-- End Add Station -->

                      <!-- Main Demo -->
                      {{ >loginButtons }}
                      <!-- Main Demo -->
                  </ul>
                  <!-- End Nav Menu -->
              </div>
          </div>
      </div>
      <!-- End Navbar -->
  </div>
  <!--=== End Header v5 ===-->
</template>