<template name="header">
  <!--=== Header v5 ===-->
  <div class="header-v5 header-static">
      <!-- Navbar -->
      <div class="navbar navbar-default mega-menu" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">
                      <img id="logo-header" src="/logo_sm.png" alt="Logo">
                  </a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-responsive-collapse">
                {{#if hasItems}}
                  {{> headerCart}}
                {{/if}}

                <!-- Nav Menu -->
                <ul class="nav navbar-nav">
                  <!-- Add Station -->
                  {{#if currentUser}}
                    <li class="dropdown">
                      <a href="{{pathFor 'stationNew'}}" class="dropdown-toggle">
                        Add Station
                      </a>
                    </li>
                  {{/if}}
                  <!-- End Add Station -->

                  <!-- Main Demo -->
                  {{ >loginButtons }}
                  <!-- Main Demo -->
                </ul>
                <!-- End Nav Menu -->
              </div>
          </div>
      </div>
      <!-- End Navbar -->
  </div>
  <!--=== End Header v5 ===-->
</template>